# Homework 2

In this homework you will complete a couple of simple exercises in order to show your understanding with Python. If these exercises are challenging or new to you, you may want to reconsider taking the class and/or brush up on your Python skills. For the following exercises you are not allowed to use any Python packages (i.e. Numpy, Pandas, etc.).

### NAME : Shrey Samdani
### ID : 3032000414

### Mandatory : Please print the output of each question below your code

## Lists

1.1 Create an empty Python list called 'a' in the cell below.

In [ ]:
a = []

1.2 Store all values between 1-100 (inclusive) with increments of 3 (i.e. 1, 4, 7...) in 'a'.

In [1]:
a = [3*i+1 for i in range(34)]

1.3 Create another list called 'a2' with numbers from 2-46 (inclusive) with increments of 0.5 (i.e. 2, 2.5, 3...).

In [2]:
#your code here
a2 = [2 + 0.5*i for i in range(89)]

1.4 Double every even integer element from list 'a'. Store the results back in 'a'.

In [3]:
#your code here
for i in range(len(a)):
    if a[i] % 2 == 0:
        a[i] *= 2

1.5 Add all numbers in 'a' except for the 2nd and 21st elements (the 2nd element here means the element at list index 1 and similarly for the 21st element).

In [4]:
#your code here
sum(a)-a[1]-a[20]

2532

1.6 Calculate the mean of 'a'.

In [5]:
#your code here
sum(a)/len(a)

76.5

1.7 Delete all elements greater than the mean value from list 'a'

In [7]:
#your code here
a = [i for i in a if i <= sum(a)/len(a)]

## Strings

2.1 Create an empty list called 'b'.

In [ ]:
#your code here
b = []

2.2 Store the words in the sentence below as elements into the list 'b'.  

'I am so excited about Data-X. It is important to be able to work with data.'

In [10]:
#your code here
b = 'I am so excited about Data-X It is important to be able to work with data'.split(" ")
b

['I',
 'am',
 'so',
 'excited',
 'about',
 'Data-X',
 'It',
 'is',
 'important',
 'to',
 'be',
 'able',
 'to',
 'work',
 'with',
 'data']

2.3 Return the count of the occurences of the lower-case letter 'e' in the list 'b'.

In [17]:
#your code here
from collections import Counter
Counter("".join(b))['e']

4

2.4 Replace every lower- or upper-case letter 'i' in the list b with a '1'.

In [20]:
#your code here
for i in range(len(b)):
    b[i] = b[i].replace("i","1")

['I',
 'am',
 'so',
 'exc1ted',
 'about',
 'Data-X',
 'It',
 '1s',
 '1mportant',
 'to',
 'be',
 'able',
 'to',
 'work',
 'w1th',
 'data']

2.5 Append the string "This is the end of the first HW." to the list 'b'.

In [22]:
#your code here
b.append("This is the end of the first HW.")

2.6 Print 'b' as ONE string backwards (starting with "WH tsrif...").

In [23]:
#your code here
" ".join(b)[::-1]

'.WH tsrif eht fo dne eht si sihT atad ht1w krow ot elba eb ot tnatropm1 s1 tI X-ataD tuoba det1cxe os ma I'

## Dictionaries

3.1 Put the following in a dictionary called 'codes':

Keys: 1001, 1002, 1003, 1004, 1005   
Values: 'Alpha', 'Beta', 'Gamma', 'Delta', 'Tau'

then traverse the dictionary by its keys and change every value to be all lower case.

In [31]:
#your code here
Keys = [1001, 1002, 1003, 1004, 1005]
Values = ['Alpha', 'Beta', 'Gamma', 'Delta', 'Tau']
codes = {Keys[i]:Values[i] for i in range(5)}
codes = {code: codes[code].lower() for code in codes}

{1001: 'alpha', 1002: 'beta', 1003: 'gamma', 1004: 'delta', 1005: 'tau'}

3.2 Delete 'alpha' from the dictionary.

In [32]:
#your code here
del codes[1001]

{1002: 'beta', 1003: 'gamma', 1004: 'delta', 1005: 'tau'}

## Sets

4.1 Create a set called 'c' with the all the odd numbers less than 10.

In [33]:
#your code here
c = set([1+2*i for i in range(5)])

4.2 Create another set called 'd' with elements 2, 5, 10, 30.

In [34]:
#your code here
d = set([2,5,10,30])

4.3 Find the union between sets 'c' and 'd' and store this in a new set called 'e'.

In [35]:
#your code here
e = c | d

{1, 2, 3, 5, 7, 9, 10, 30}

4.4 Find the intersection between sets 'c' and 'd'.

In [37]:
#your code here
c & d

{5}